[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/simcpp20"]
	path = external/simcpp20
	url = https://github.com/fschuetz04/simcpp20.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
